.custom-card {
    max-width: 15%;
    margin-bottom: 5px;
    height:190px;
}

.fluid-padding {
    width: 100%;
    margin-right: 10px
}

.card-image {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: relative;
}

.custom-col {
    height: calc(100vh - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
}